/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* REGOLE STILI GENERALI LAYOUT */
body {
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-size: 15px;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
}

img,
i {
  height: 100%;
  border-radius: 50%;
  vertical-align: middle;
}

/* Macro aree */
.wrapper-gradient {
  width: 100%;
  height: 100vh;
  padding: 20px 0;
  background: linear-gradient(to bottom,
     #009688 20%, #dbdbd3 20%);
}

.finestra-principale {
  width: 80%;
  min-width: 900px;
  height: 100%;
  margin: auto;
  display: flex;
  /* border: 15px solid black; */
  /* background-color: red; */
}
/* Fine Macro aree */

/* Lato */
[class*="lato-"] {
  height: 100%;
  background-color: #eaeaea;
}

.lato-contatti {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  background-color: blue;
  border-right: 1px solid lightgray;
}

.lato-chat {
  flex-basis: 70%;
  position: relative;
  /* background-color: green; */
}
/* Fine Lato */

/* Intestazioni */
[class*="intestazione-"] {
  width: 100%;
  height: 70px;
  min-height: 70px;
  padding: 10px;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Contatto */
.contatto {
  height: 100%;
  display: flex;
  align-items: center;
}

.avatar {
  height: 100%;
  margin-right: 20px;
}

.nome-contatto {
  text-transform: capitalize;
}

[class*="info-"] {
  color: gray;
}

[class*="intestazione-"] .info-contatto {
  font-size: 12px;
}
/* Fine Contatto */

/* Menù-intestazione */
[class*="intestazione-"] > .menu {
  font-size: 1.3em;
}

[class*="intestazione-"] > .menu li {
  margin: 0 8px;
  color: #b1b1b1;
  display: inline-block;
}
/* Fine Menù-intestazione */
/* Fine Intestazioni */

.input {
  height: 100%;
  background-color: #fff;
}
/* FINE REGOLE STILI GENERALI LAYOUT */

/* LATO-CONTATTI */
/* Notifiche */
.notifiche {
  height: 80px;
  padding: 10px 20px;
  background-color: #8edafc;
  display: flex;
  align-items: center;
}

.notifiche i {
  font-size: 22px;
  padding: 15px;
  margin-right: 10px;
  color: #8edafc;
  background-color: #fff;
}

.info-notifiche {
  font-size: 13px;
}
/* Fine Notifiche */

/* Contatti */
.contatti {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: calc(100% - 70px - 80px); /* NOTE: Altezza massima (100% del lato-contatti - intestazione - notifiche) */
  background-color: yellow;
}

/* ricerca contatti */
.ricerca {
  flex-basis: 50px;
  padding: 8px;
  background-color: #fafafa;
}

.ricerca .input {
  padding: 0 0 0 20px;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
}

.ricerca .input input {
  width: 100%;
  height: 100%;
  padding: 0 5px;
  border: none;
}

.ricerca .input i {
  height: auto;
  margin-right: 20px;
}
/* fine ricerca contatti */

/* lista contatti */
.lista-contatti {
  max-height: calc(100% - 50px);
  flex-grow: 1;
  overflow: auto;
  background-color: #fafafa;
}

.lista-contatti > .contatto {
  height: 80px;
  padding: 10px 20px;
  background-color: #fff;
  position: relative;
}

.lista-contatti .info-contatto {
  font-size: 13px;
}

.lista-contatti > .contatto .orario {
  font-size: 11px;
  color: lightgray;
  position: absolute;
  top: 10px;
  right: 10px;
}
/* fine lista contatti */
/* Fine Contatti */
/* FINE LATO-CONTATTI */

/* LATO-CHAT */
/* Chat */
.chat {
  height: calc(100% - 70px - 70px); /* NOTE: Altezza (100% del lato-chat - intestazione - toolbar) */
  background-image: url(../img/mine.jpg);
}
/* Fine Chat */

/* Toolbar */
.toolbar {
  width: 100%;
  min-height: 70px;
  padding: 10px 30px;
  position: absolute;
  bottom: 0;
  background-color: #f3eeea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar i{
  color: #6b7376;
  font-size: 25px;
}

.input-messaggio {
  flex-basis: 80%;
}

.input-messaggio input {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
}

.invio-messaggio {
  display: none;
}

.invio-messaggio.active {
  display: block;
}
/* Fine Toolbar */
/* FINE LATO-CHAT */
