/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* REGOLE STILI GENERALI LAYOUT */
body {
  font-family: 'Lato', sans-serif;
}

h4 {
  font-size: 15px;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
}

img {
  height: 100%;
  border-radius: 50%;
  vertical-align: middle;
}

/* Macro aree */
.wrapper-gradient {
  width: 100%;
  height: 100vh;
  padding: 20px 0;
  background: linear-gradient(to bottom,
     #009688 20%, #dbdbd3 20%);
}

.finestra-principale {
  width: 80%;
  min-width: 900px;
  height: 100%;
  margin: auto;
  display: flex;
}

/* Lato */
[class*="lato-"] {
  height: 100%;
  background-color: #eaeaea;
}

.lato-contatti {
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
  border-right: 1px solid lightgray;
}

.lato-chat {
  flex-basis: 65%;
  position: relative;
}
/* Fine Lato */
/* Fine Macro aree */

/* Intestazioni */
[class*="intestazione-"] {
  width: 100%;
  height: 70px;
  min-height: 70px;
  padding: 10px;
  background-color: #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Contatto */
.contatto {
  height: 100%;
  display: flex;
  align-items: center;
}

.avatar {
  height: 100%;
  margin-right: 20px;
}

.nome-contatto {
  text-transform: capitalize;
}

[class*="info-"] {
  color: gray;
}

[class*="intestazione-"] .info-contatto {
  font-size: 12px;
}
/* Fine Contatto */

/* Menù-intestazione */
[class*="intestazione-"] > .menu {
  font-size: 1.3em;
}

.elemento-menu {
  padding: 0 8px;
  color: #b1b1b1;
  display: inline-block;
}

.elemento-menu:hover {
  color: #888888;
  transform: scale(1.1);
  cursor: pointer;
}
/* Fine Menù-intestazione */
/* Fine Intestazioni */

.input {
  height: 100%;
  background-color: #fff;
}
/* FINE REGOLE STILI GENERALI LAYOUT */

/* LATO-CONTATTI */
/* Notifiche */
.notifiche {
  width: 100%;
  height: 80px;
  padding: 10px 20px;
  background-color: #8edafc;
  display: flex;
  align-items: center;
}

.miniatura {
  min-width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.notifiche i {
  color: #8edafc;
  font-size: 24px;
  vertical-align: middle;
}

.info-notifiche {
  font-size: 13px;
}
/* Fine Notifiche */

/* Contatti */
.contatti {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: calc(100% - 70px - 80px); /* NOTE: Altezza massima (100% del lato-contatti - intestazione - notifiche) */
  background-color: yellow;
}

/* ricerca contatti */
.ricerca-contatti {
  width: 100%;
  flex-basis: 50px; /* NOTE: Altezza */
  padding: 8px;
  background-color: #fafafa;
}

.ricerca-contatti .input {
  padding: 0 0 0 20px;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  background-color: #fff;
}

.ricerca-contatti .input input {
  width: 100%;
  height: 100%;
  padding: 0 5px;
  border: none;
}

.ricerca-contatti .input i {
  margin-right: 20px;
  color: #b6b9bb;
}
/* fine ricerca contatti */

/* lista contatti */
.lista-contatti {
  max-height: calc(100% - 50px);
  flex-grow: 1;
  overflow-y: auto;
  background-color: #fafafa;
}

.lista-contatti > .contatto {
  width: 100%;
  height: 80px;
  padding: 10px 20px;
  border-bottom: 1px solid #eaeaea;
  background-color: #fff;
  position: relative;
}

.lista-contatti > .contatto:hover {
  cursor: pointer;
  background-color: #e9ebeb;
}

.lista-contatti .info-contatto {
  font-size: 13px;
}

.lista-contatti > .contatto .orario {
  font-size: 11px;
  color: lightgray;
  position: absolute;
  top: 10px;
  right: 10px;
}
/* fine lista contatti */
/* Fine Contatti */
/* FINE LATO-CONTATTI */

/* LATO-CHAT */
/* Chat */
.finestra-chat {
  width: 100%;
  height: calc(100% - 70px - 70px); /* NOTE: Altezza (100% del lato-chat - intestazione - toolbar) */
  padding-top: 50px;
  background-image: url(../img/mine.jpg);
}

.chat {
  display: none;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
  /* background: red; */
}

.chat.active {
  display: block;
}
/* Fine Chat */

/* Toolbar */
.toolbar {
  width: 100%;
  height: 70px;
  padding: 10px 30px;
  position: absolute;
  bottom: 0;
  background-color: #f3eeea;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar i {
  color: #6b7376;
  font-size: 25px;
}

.toolbar i:hover {
  color: #a7acae;
  transform: scale(1.1);
  cursor: pointer;
}

.input-messaggio {
  flex-basis: 80%;
  height: 100%;
}

.input-messaggio input {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
}

[class*="invio-"] {
  display: none;
}

[class*="invio-"].active {
  display: block;
}
/* Fine Toolbar */
/* FINE LATO-CHAT */

/* TEMPLATE */
.template {
  display: none;
}

/* Messaggio */
.messaggio {
  display: inline-block;
  max-width: 70%;
  padding: 15px;
  padding-right: 80px;
  margin: 0 0 20px 20px;
  border-radius: 5px;
  color: #000;
  background-color: #fff;
  float: left;
  clear: both;
  position: relative;
}

.messaggio .testo-messaggio {
  overflow-wrap: break-word;
  word-break: break-word;
}

.messaggio .orario {
  color: gray;
  font-size: 11px;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.messaggio .orario i {
  display: none;
}

/* NOTE: messaggio inviato */
.messaggio.inviato {
  margin: 0 20px 20px 0;
  background-color: #d5f9ba;
  float: right;
}

.messaggio.inviato .orario i {
  display: inline;
  margin-left: 5px;
}
/* Fine Messaggio */
/* FINE TEMPLATE */
